$base-ship-length: 1.5rem;

.ships-wrapper {
  width: fit-content;
}

.ship {
  display: block;
  height: $base-ship-length;
  margin-bottom: 1rem;
  background: var(--color-ship);

  &--selected {
    background: var(--color-cell-border);
  }

  &--carrier {
    width: $base-ship-length * 5;
  }

  &--battleship {
    width: $base-ship-length * 4;
  }

  &--cruiser {
    width: $base-ship-length * 3;
  }

  &--destroyer {
    width: $base-ship-length * 2;
  }
}

.ships-section {
  display: flex;
  flex-direction: column;
}

.ships-btns {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.ship-orientation-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}