:root {
  --color-bg: #fafafa;
  --color-primary: #111;
  --color-cell-border: blue;
  --color-ship: #333;
  --color-cell-attacked: red;
  --color-cell-sunk: green;
  --color-cell-attacked-ship: purple;

  --font: sans-serif;
}